.idea/
.ipynb_checkpoints/
*.egg-info/
**/__pycache__/
**/__pycache__/*.pyc

# dependency
**/node_modules
**/node_modules/*/

# pretrained model file
**/pretrain/
**/pretrain/*.pdparams
**/pretrain/*/
**/pretrain/*/*.pdparams
